extends layout
extends home

block content
    br
    br
    br
    .container
        form(id='new-cart', action='/newCart')
            button.btn.btn-primary.button-sign-in
                span.glyphicon.glyphicon-lock
                | Create New Shopping Cart
    .container
        h4 Existing Carts
        div
            if (cartsList.length)
                form.well()
                    table(class="table table-condensed", style="margin-top: 16px; color: black;")
                        thead
                            tr
                                th Cart Name
                                th Number of Products
                                th Total Price
                                th
                        tbody
                            for cart in cartsList
                                tr
                                    td(align='center') #{cart.CartName}
                                    td(align='center') #{cart.ProductID.length}
                                    td(align='center') it's all for free!
                                    td(align='center')

                                        #cartDetails.center-vertical
                                            form(id=cart._id, action=('/cartDetails'))
                                                input(type="hidden",name='id', value=cart._id)
                                                .controls
                                                    a.btn( href="/cartDetails?id=" + cart._id ) Edit Cart

    label #{message}